{% extends 'base.html'%} {% block title %}Home{% endblock%} {% block content %}
<section class="home" id="home">
    <section class="home" id="home">

        <div class="body_content" style="background-color: rgba(96, 130, 182, 0);">
            <img src="{{ url_for('static', filename='elearning.gif') }}" alt="hero-image" />
            <h1 style=" margin-top: 2rem; margin-bottom: 1rem;">Knowledge</h1>
            <h1 style="  font-size: 40px; ">at Your Fingertips</h1>
            <!-- <p>
                No need to go out to learn. <br> No more paying for Education. <br> Join us now and learn for free from the comfort of your home.
            </p> -->
            <button id="join_us"><b>Join Us</b></button>
            <script>
                document.getElementById("join_us").onclick = function() {
                    location.href = "{{ url_for('auth.signup') }}"
                }
            </script>
        </div>
    </section>

    <section class="about" id="about" style="background-color: rgba(96, 130, 182, 0.1); border-top-left-radius: 30px; border-top-right-radius: 30px;">
        <h1 class="heading"><img src="{{ url_for('static', filename='about.png') }}" alt="about-image" /></h1>
        <h3 class="title"><img src="{{ url_for('static', filename='left_lines.png') }}" alt="right-image" />&nbsp;&nbsp;Join us on our jouney&nbsp;&nbsp;<img src="{{ url_for('static', filename='right_lines.png') }}" alt="right-image" /></h3>

        <div class="row">
            <div class="image" style="margin-top: 3rem;">
                <img src="{{ url_for('static', filename='elearning1.gif') }}" style="border-radius: 30px;">
            </div>
            <div class="body_content">
                <h3>Learn and Teach From Anywhere For Free</h3>
                <p>E-Learning is a platform where you can learn and teach from your home. We offer you the platform to join as a teacher and make your own courses. We give you the opportunity to learn for free. Thousands of courses made by qualified teachers
                    at your door step. Don't waste a second and join us right now.
                </p>
                <button id="start_now">Start Now</button>
                <script>
                    document.getElementById("start_now").onclick = function() {
                        location.href = "{{ url_for('auth.signup') }}"
                    }
                </script>
            </div>
        </div>

    </section>


    <!-- about section ends -->

    <!-- teacher section starts  -->

    <section id="teacher" class="teacher" style="background-color: rgba(181, 25, 183, 0.1) !important;">

        <h1 class="heading"><img src="{{ url_for('static', filename='teachers.png') }}" alt="teachers-image" /></h1>
        <h3 class="title"><img src="{{ url_for('static', filename='left_lines.png') }}" alt="right-image" />&nbsp;&nbsp;meet our professional trainers&nbsp;&nbsp;<img src="{{ url_for('static', filename='right_lines.png') }}" alt="right-image" /></h3>

        <div class="card-container">

            <div class="card">
                <img src="{{ url_for('static', filename='t3.jpg') }}" alt="">
                <h3>Abhijith Bhuvanagiri</h3>
                <p>ML & DL Expert</p>
                <div class="icons">
                    <a href="https://www.facebook.com/" target="_blank" class="fab fa-facebook-f"></a>
                    <a href="https://twitter.com/" target="_blank" class="fab fa-twitter"></a>
                    <a href="https://instagram.com/the_abhijith_13?igshid=MzNlNGNkZWQ4Mg" target="_blank" class="fab fa-instagram"></a>
                    <a href="https://www.linkedin.com/in/abhijith-bhuvanagiri-aa6963215" target="_blank" class="fab fa-linkedin-in"></a>
                </div>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename='t1.jpg') }}" alt="">
                <h3>Vidhey Bhogadi</h3>
                <p>Web Development Expert</p>
                <div class="icons">
                    <a href="https://www.facebook.com/bhogadividhey/" target="_blank" class="fab fa-facebook-f"></a>
                    <a href="https://twitter.com/VidheyBhogadi" target="_blank" class="fab fa-twitter"></a>
                    <a href="https://www.instagram.com/its_me_vidhey/" target="_blank" class="fab fa-instagram"></a>
                    <a href="https://www.linkedin.com/in/bhogadi-vidhey-aa62b71a8/" target="_blank" class="fab fa-linkedin-in"></a>
                </div>
            </div>

            <div class="card">
                <img src="{{ url_for('static', filename='t2.jpg') }}" alt="">
                <h3>Surendra Saripella</h3>
                <p>Software Development Expert</p>
                <div class="icons">
                    <a href="https://m.facebook.com/profile.php?id=100009611112797" target="_blank" class="fab fa-facebook-f"></a>
                    <a href="https://twitter.com/" target="_blank" class="fab fa-twitter"></a>
                    <a href="https://instagram.com/s_surendra_varma?igshid=MzNlNGNkZWQ4Mg==" target="_blank" class="fab fa-instagram"></a>
                    <a href="https://www.linkedin.com/in/surendra-varma-saripella-a99a3323b" target="_blank" class="fab fa-linkedin-in"></a>
                </div>
            </div>

        </div>


    </section>

    <!-- teacher section ends -->

    <!-- course section starts  -->

    <section id="course" class="course" style="background-color: rgba(96, 130, 182, 0.1) !important;">

        <h1 class="heading"><img src="{{ url_for('static', filename='courses.png') }}" alt="courses-image" /></h1>
        <h3 class="title"><img src="{{ url_for('static', filename='left_lines.png') }}" alt="right-image" />&nbsp;&nbsp;upgrade your skills with newest courses&nbsp;&nbsp;<img src="{{ url_for('static', filename='right_lines.png') }}" alt="right-image" /></h3>


        <div class="box-container">

            <div class="box">
                <i class="fab fa-html5"></i>
                <h3>HTML5</h3>
                <p>HTML is the standard markup language used for creating and structuring web pages.</p>
            </div>

            <div class="box">
                <i class="fab fa-css3-alt"></i>
                <h3>CSS3</h3>
                <p>CSS is used to style and format the visual appearance of web pages.</p>
            </div>

            <div class="box">
                <i class="fab fa-js-square"></i>
                <h3>Java Script</h3>
                <p>JavaScript is used for adding interactivity and dynamic behavior to websites.</p>
            </div>

            <div class="box">
                <i class="fas fa-code"></i>
                <h3>Software Development</h3>
                <p>Software development is the art of turning ideas into functional and efficient computer programs.</p>
            </div>

            <div class="box">
                <i class="fab fa-python"></i>
                <h3>Machine Learning</h3>
                <p>Machine Learning is a field of study that focuses on the development of algorithms and models.</p>
            </div>

            <div class="box">
                <i class="fas fa-brain"></i>
                <h3>Deep Learning</h3>
                <p>Deep learning is a subfield of ML which focuses on training artificial neural networks.</p>
            </div>

        </div>
        <br/><br/>
    </section>

    <!-- course section ends -->
    {% endblock%}